<% layout("/layouts/hdashboard") %>

<div class="dr_info_div">
    <h5>Personal details - </h5>
    <hr>
    <p>Dr Name :  <span><%= doctor.name %></span></p>
    <p>Father name :  <span><%= info.fname %></span></p>
    <p>Mother name :  <span><%= info.mname %></span></p>
    <p>Phone no :  <span><%= info.mno %></span></p>
    <p>Email id :  <span><%= doctor.email %></span></p>
    <p>Dob :  <span><%= info.dob %></span></p>
    <p>Sex :  <span><%= info.sex %></span></p>
    <p>Age :  <span><%= info.age %></span></p>
    <br><h5>Address Info - </h5>
    <hr>
    <p>Address :  <span><%= info.add %></span></p>
    <p>city :  <span><%= info.city %></span></p>
    <p>state :  <span><%= info.state %></span></p>
    <p>country :  <span><%= info.country %></span></p>
    <p>Zip-code :  <span><%= info.zcode %></span></p>
    <br><h5>Education Info - </h5>
    <hr>
    <p>Degree :  <span><%= info.degree %></span></p>
    <p>College :  <span><%= info.college %></span></p>
    <p>Passing Year :  <span><%= info.passy %></span></p>
</div>